body {background-color:beige;}



#info{

text-align: center;

}

#add{

    border: none;
    background-color: aquamarine;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    
}
#clear{

    border: none;
    background-color: aquamarine;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
#random{

    border: none;
    background-color: aquamarine;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}